<div class="container">
  <app-laser-cannon class="laser-cannon"></app-laser-cannon>
  <app-turret></app-turret> 
  <app-turret></app-turret> 
  <app-turret></app-turret> 
  <app-turret></app-turret> 
  <app-turret></app-turret> 
  <app-turret></app-turret> 
  <app-turret></app-turret> 
  <app-turret></app-turret> 
  <app-turret></app-turret> 
  <app-turret></app-turret> 
  <app-turret></app-turret> 
  <app-turret></app-turret> 
  <app-turret></app-turret> 
  <app-turret></app-turret> 
  <app-turret></app-turret> 
  <app-turret></app-turret> 
</div>
