<!--The content below is only a placeholder and can be replaced.-->
<div>
<app-death-square></app-death-square>
<router-outlet></router-outlet>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-star-destroyer></app-star-destroyer>

</div>

